CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.idea/
.pio/
.vscode/
cmake*/
.ccls
CMakeLists.txt
CMakeListsPrivate.txt
